<div class="w-[46rem] max-w-[90vw] mx-auto mt-12 flex flex-col">
  <div class="h1-custom text-gray-600 border-b-4 border-primary-500 mb-16">Aplikowanie</div>
  <div class="bg-white p-16 flex flex-col gap-8 drop-shadow-md">
    <div class="flex flex-col">
      <div class="w-full flex flex-row gap-6 items-start">
        <img *ngIf="offer.company.logoPhoto == null" class=" w-[8rem]" src="/assets/images/company-logo.png">
        <img *ngIf="offer.company.logoPhoto != null" class="w-[8rem]" src="data:image/png;base64,{{ offer.company.logoPhoto }}">
        <div id="offer-details-container" class="self-end  flex flex-col gap-1.5 w-full pb-3">
          <div class="flex flex-row justify-between items-start">
            <div class="h3-custom text-gray-700 w-5/6">{{ offer.title }}</div>
          </div>
          <div class="flex flex-row justify-between">
            <div class="flex flex-row gap-1">
              <svg class="offer-company-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256">
                <!--          <rect width="256" height="256" fill="none"></rect>-->
                <line x1="16" y1="216" x2="240" y2="216" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                <path d="M144,216V40a8,8,0,0,0-8-8H40a8,8,0,0,0-8,8V216" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
                <path d="M224,216V104a8,8,0,0,0-8-8H144" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
                <line x1="64" y1="72" x2="96" y2="72" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                <line x1="80" y1="136" x2="112" y2="136" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                <line x1="64" y1="176" x2="96" y2="176" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                <line x1="176" y1="176" x2="192" y2="176" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                <line x1="176" y1="136" x2="192" y2="136" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
              </svg>
              <a [routerLink]="['/companies', offer.company.id, 'details']" class="link-reg text-gray-500 cursor-pointer">{{ offer.company.name }}</a>
            </div>
            <div class="text-gray-500 text-body-reg-semibold">{{ offer.minSalaryPln }}zł - {{ offer.maxSalaryPln }}zł</div>
          </div>
          <div class="flex flex-row justify-between items-end">
            <div class="flex flex-row items-center gap-1">
              <svg class="offer-localization-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256">
                <!--          <rect width="256" height="256" fill="none"></rect>-->
                <circle cx="128" cy="104" r="32" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle>
                <path d="M208,104c0,72-80,128-80,128S48,176,48,104a80,80,0,0,1,160,0Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
              </svg>
              <div class="text-gray-500 text-body-reg-semibold">{{ offer.localization.name }}</div>
            </div>
            <div class="flex flex-row gap-2">
              <div *ngIf="offer.firstJobPossibility" class="items-center flex flex-row gap-1 px-4 py-0.5 h5-custom bg-secondary-300 text-gray-600 rounded-full">
                <svg class="first-job-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256">
                  <!--                <rect width="256" height="256" fill="none"></rect>-->
                  <line x1="32" y1="64" x2="32" y2="144" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                  <path d="M54.2,216a88.1,88.1,0,0,1,147.6,0" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
                  <polygon points="224 64 128 96 32 64 128 32 224 64" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polygon>
                  <path d="M169.3,82.2a56,56,0,1,1-82.6,0" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
                </svg>
                Pierwsza praca
              </div>
              <div *ngIf="offer.remotePossibility" class="items-center flex flex-row gap-1 px-4 py-0.5 h5-custom bg-secondary-300 text-gray-600 rounded-full">
                <svg class="first-job-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256">
                  <!--                <rect width="256" height="256" fill="none"></rect>-->
                  <line x1="32" y1="64" x2="32" y2="144" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                  <path d="M54.2,216a88.1,88.1,0,0,1,147.6,0" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
                  <polygon points="224 64 128 96 32 64 128 32 224 64" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polygon>
                  <path d="M169.3,82.2a56,56,0,1,1-82.6,0" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
                </svg>
                Praca zdalna
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-b-2 border-gray-200 mb-16"></div>
    <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()" #form="ngForm" class="flex flex-col gap-4 mb-4 mt-[-1rem]">
      <div>
        <div class="border-b-4 flex flex-col gap-2" [ngClass]="{
            'border-red-400': (form.submitted && applicationForm.get('cv')?.invalid),
            'border-primary-400': !(form.submitted && applicationForm.get('cv')?.invalid) }">
          <label class="h4-custom text-gray-500" for="cv-input">Plik CV w formacie pdf:</label>
          <input accept=".pdf" (change)="handleFileInput($event)" class="h-10 overflow-hidden text-body-reg-bold text-gray-700 border-none bg-transparent" id="cv-input" type="file" [formControlName]="'cv'">
        </div>
        <div *ngIf="form.submitted" class="flex flex-col">
          <p *ngIf="applicationForm.hasError('UnknownServerError')" class="validation-message">*Niezany błąd serwera. Spróbuj ponownie później.</p>
        </div>
      </div>
      <div>
        <button *ngIf="!isApplySuccessful" class="p-1 bg-primary-400 rounded h4-custom text-gray-50 w-full hover:bg-primary-300" type="submit">Aplikuj</button>
        <div *ngIf="isApplySuccessful" class="text-center p-1 bg-emerald-500 rounded h4-custom text-gray-50 w-full">Aplikowanie zakończone sukcesem</div>
      </div>
    </form>
  </div>
</div>
