<div class="w-[46rem] max-w-[90vw] mx-auto mt-12 flex flex-col gap-8 mb-16 bg-white drop-shadow-md p-12 relative">
  <div class="top-8 right-12 absolute flex flex-row gap-2">
    <button *ngIf="(usersService.isLoggedIn() && user.email == usersService.currentUser?.email) || usersService.isAdmin()" class="delete-button" (click)="deleteUser()">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#000000" viewBox="0 0 256 256">
        <!--        <rect width="256" height="256" fill="none"></rect>-->
        <line x1="216" y1="56" x2="40" y2="56" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
        <line x1="104" y1="104" x2="104" y2="168" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
        <line x1="152" y1="104" x2="152" y2="168" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
        <path d="M200,56V208a8,8,0,0,1-8,8H64a8,8,0,0,1-8-8V56" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
        <path d="M168,56V40a16,16,0,0,0-16-16H104A16,16,0,0,0,88,40V56" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
      </svg>
    </button>
  </div>
  <div class="flex flex-row gap-6 items-center">
    <div class="w-[8rem] relative">
      <button *ngIf="!isUploadPhotoMode" (click)="toggleUploadPhotoMode()" class="upload-image-button absolute bottom-0 left-0" type="button">
        <svg class="z-20 inner-upload-icon absolute bottom-0 left-0" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#000000" viewBox="0 0 256 256">
          <!--        <rect width="256" height="256" fill="none"></rect>-->
          <polyline points="86 82 128 40 170 82" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="128" y1="152" x2="128" y2="40" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <path d="M216,152v56a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V152" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
        </svg>
        <svg class="z-10 outer-upload-icon absolute bottom-0 left-0" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#000000" viewBox="0 0 256 256">
          <!--        <rect width="256" height="256" fill="none"></rect>-->
          <polyline points="86 82 128 40 170 82" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
          <line x1="128" y1="152" x2="128" y2="40" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <path d="M216,152v56a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V152" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
        </svg>
      </button>
      <img *ngIf="user.photo == null" src="/assets/images/user.png">
      <img *ngIf="user.photo != null" src="data:image/png;base64,{{ user.photo }}" alt="User photo">
    </div>
    <p class="h3-custom text-gray-700">{{ user.firstName + " " + user.lastName }}</p>
  </div>
  <div *ngIf="isUploadPhotoMode">
    <form [formGroup]="uploadPhotoForm" (ngSubmit)="uploadPhoto()" #form="ngForm" class="flex flex-col gap-2 mb-4 mt-[-1rem]">
      <div>
        <div class="border-b-4 flex flex-col" [ngClass]="{
            'border-red-400': (form.submitted && uploadPhotoForm.get('photo')?.invalid),
            'border-primary-400': !(form.submitted && uploadPhotoForm.get('photo')?.invalid) }">
          <input accept=".png,.jpg,.jpeg" (change)="handleFileInput($event)" class="h-10 overflow-hidden text-body-reg-bold text-gray-700 border-none bg-transparent" id="photo-input" type="file" [formControlName]="'photo'">
        </div>
        <div *ngIf="form.submitted" class="flex flex-col">
          <p *ngIf="uploadPhotoForm.get('photo')?.hasError('UnknownServerError')" class="validation-message">*Niezany błąd serwera. Spróbuj podać inny plik lub spróbuj ponownie później.</p>
        </div>
      </div>
      <div class="flex flex-row gap-2">
        <button class="flex flex-row justify-center gap-2 items-center p-1 bg-primary-400 rounded text-body-reg-semibold text-gray-50 w-full hover:bg-primary-300" type="submit">
          Zatwierdź
        </button>
        <button (click)="toggleUploadPhotoMode()" class="flex flex-row justify-center gap-2 items-center p-1 bg-rose-400 rounded text-body-reg-semibold text-gray-50 w-full hover:bg-rose-300" type="button">
          Odrzuć
        </button>
      </div>
    </form>
  </div>
  <div class="text-body-reg text-gray-900 relative">
    <button *ngIf="(usersService.isLoggedIn() && user.email == usersService.currentUser?.email) || usersService.isAdmin()" (click)="toggleDescriptionEditMode()" class="edit-button absolute top-[-2rem] right-0">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#000000" viewBox="0 0 256 256">
        <!--        <rect width="256" height="256" fill="none"></rect>-->
        <path d="M92.7,216H48a8,8,0,0,1-8-8V163.3a7.9,7.9,0,0,1,2.3-5.6l120-120a8,8,0,0,1,11.4,0l44.6,44.6a8,8,0,0,1,0,11.4l-120,120A7.9,7.9,0,0,1,92.7,216Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
        <line x1="136" y1="64" x2="192" y2="120" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
      </svg>
    </button>
    <p *ngIf="!isDescriptionEditMode">{{ user.description }}</p>
    <div *ngIf="isDescriptionEditMode">
      <form [formGroup]="descriptionEditForm" (ngSubmit)="editDescription()" #form="ngForm" class="flex flex-col gap-2">
        <div>
          <div class="border-b-4 flex flex-col" [ngClass]="{
            'border-red-400': (form.submitted && descriptionEditForm.get('description')?.invalid),
            'border-primary-400': !(form.submitted && descriptionEditForm.get('description')?.invalid) }">
            <label class="h4-custom text-gray-500" for="description-input">Opis:</label>
            <textarea #descriptionInput (keyup)="autoGrowTextarea($event)" class="h-10 overflow-hidden text-body-reg-bold text-gray-700 border-none bg-transparent" id="description-input" type="text" [formControlName]="'description'"></textarea>
          </div>
          <div *ngIf="form.submitted" class="flex flex-col">
            <p *ngIf="descriptionEditForm.get('description')?.hasError('maxlength')" class="validation-message">*Opis musi się składać z maksymalnie 2000 znaków</p>
          </div>
        </div>
        <div class="flex flex-row gap-2">
          <button class="flex flex-row justify-center gap-2 items-center p-1 bg-primary-400 rounded text-body-reg-semibold text-gray-50 w-full hover:bg-primary-300" type="submit">
            Zatwierdź
          </button>
          <button (click)="toggleDescriptionEditMode()" class="flex flex-row justify-center gap-2 items-center p-1 bg-rose-400 rounded text-body-reg-semibold text-gray-50 w-full hover:bg-rose-300" type="button">
            Odrzuć
          </button>
        </div>
      </form>
    </div>
  </div>
  <div>
    <p class="h4-custom text-gray-600">Adres email:</p>
    <p class="text-body-reg text-gray-900">{{ user.email }}</p>
  </div>
  <div>
    <p class="h4-custom text-gray-600">Data urodzenia:</p>
    <p class="text-body-reg text-gray-900">{{ user.birthdate }}</p>
  </div>
  <div class="relative">
    <button *ngIf="(usersService.isLoggedIn() && user.email == usersService.currentUser?.email) || usersService.isAdmin()" (click)="toggleAddressEditMode()" class="edit-button absolute top-0 right-0">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#000000" viewBox="0 0 256 256">
        <!--        <rect width="256" height="256" fill="none"></rect>-->
        <path d="M92.7,216H48a8,8,0,0,1-8-8V163.3a7.9,7.9,0,0,1,2.3-5.6l120-120a8,8,0,0,1,11.4,0l44.6,44.6a8,8,0,0,1,0,11.4l-120,120A7.9,7.9,0,0,1,92.7,216Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
        <line x1="136" y1="64" x2="192" y2="120" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
      </svg>
    </button>
    <div *ngIf="!isAddressEditMode">
      <p class="h4-custom text-gray-600">Adres:</p>
      <p class="text-body-reg text-gray-900">{{ user.address.country + ', ' + user.address.city + ', ' + user.address.zip + ', ' + user.address.street }}</p>
    </div>
    <div *ngIf="isAddressEditMode">
      <form [formGroup]="addressEditForm" (ngSubmit)="editAddress()" #form="ngForm" class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
          <div [ngClass]="{
                  'border-red-400': (form.submitted && addressEditForm.get('country')?.invalid),
                  'border-primary-400': !(form.submitted && addressEditForm.get('country')?.invalid) }"
               class="border-b-4 flex flex-col">
            <label class="h4-custom text-gray-500" for="country-input">Kraj:</label>
            <input class="text-body-reg-bold text-gray-700 border-none bg-transparent" id="country-input" type="text" [formControlName]="'country'" autofocus>
          </div>
          <div *ngIf="form.submitted" class="flex flex-col">
            <p *ngIf="addressEditForm.get('country')?.hasError('required')" class="validation-message">*Kraj nie może być pusty</p>
            <p *ngIf="addressEditForm.get('country')?.hasError('minlength')" class="validation-message">*Kraj musi się składać z co najmniej 3 znaków</p>
            <p *ngIf="addressEditForm.get('country')?.hasError('maxlength')" class="validation-message">*Kraj musi się składać z maksymalnie 60 znaków</p>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <div [ngClass]="{
                  'border-red-400': (form.submitted && addressEditForm.get('city')?.invalid),
                  'border-primary-400': !(form.submitted && addressEditForm.get('city')?.invalid) }"
               class="border-b-4 flex flex-col">
            <label class="h4-custom text-gray-500" for="city-input">Miasto:</label>
            <input class="text-body-reg-bold text-gray-700 border-none bg-transparent" id="city-input" type="text" [formControlName]="'city'" autofocus>
          </div>
          <div *ngIf="form.submitted" class="flex flex-col">
            <p *ngIf="addressEditForm.get('city')?.hasError('required')" class="validation-message">*Miasto nie może być puste</p>
            <p *ngIf="addressEditForm.get('city')?.hasError('maxlength')" class="validation-message">*Kraj musi się składać z maksymalnie 200 znaków</p>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <div [ngClass]="{
                  'border-red-400': (form.submitted && addressEditForm.get('zip')?.invalid),
                  'border-primary-400': !(form.submitted && addressEditForm.get('zip')?.invalid) }"
               class="border-b-4 flex flex-col">
            <label class="h4-custom text-gray-500" for="zip-input">ZIP:</label>
            <input class="text-body-reg-bold text-gray-700 border-none bg-transparent" id="zip-input" type="text" [formControlName]="'zip'" autofocus>
          </div>
          <div *ngIf="form.submitted" class="flex flex-col">
            <p *ngIf="addressEditForm.get('zip')?.hasError('required')" class="validation-message">*ZIP nie może być pusty</p>
            <p *ngIf="addressEditForm.get('zip')?.hasError('minlength')" class="validation-message">*ZIP musi się składać z co najmniej 3 znaków</p>
            <p *ngIf="addressEditForm.get('zip')?.hasError('maxlength')" class="validation-message">*ZIP musi się składać z maksymalnie 15 znaków</p>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <div [ngClass]="{
                  'border-red-400': (form.submitted && addressEditForm.get('street')?.invalid),
                  'border-primary-400': !(form.submitted && addressEditForm.get('street')?.invalid) }"
               class="border-b-4 flex flex-col">
            <label class="h4-custom text-gray-500" for="street-input">Ulica:</label>
            <input class="text-body-reg-bold text-gray-700 border-none bg-transparent" id="street-input" type="text" [formControlName]="'street'" autofocus>
          </div>
          <div *ngIf="form.submitted" class="flex flex-col">
            <p *ngIf="addressEditForm.get('street')?.hasError('required')" class="validation-message">*Ulica nie może być pusta</p>
            <p *ngIf="addressEditForm.get('street')?.hasError('maxlength')" class="validation-message">*Ulica musi się składać z maksymalnie 200 znaków</p>
          </div>
        </div>
        <div class="flex flex-row gap-2">
          <button class="flex flex-row justify-center gap-2 items-center p-1 bg-primary-400 rounded text-body-reg-semibold text-gray-50 w-full hover:bg-primary-300" type="submit">
            Zatwierdź
          </button>
          <button (click)="toggleAddressEditMode()" class="flex flex-row justify-center gap-2 items-center p-1 bg-rose-400 rounded text-body-reg-semibold text-gray-50 w-full hover:bg-rose-300" type="button">
            Odrzuć
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <p class="h3-custom text-gray-700">Doświadczenie:</p>
    <div class="bg-gray-100 p-4">
      <div *ngIf="user.experiences.length == 0">
        <p class="text-center text-body-reg-semibold text-gray-500">Ten użytkownik nie dodał żadnego doświadczenia</p>
      </div>
      <div *ngIf="user.experiences.length != 0" class="flex flex-col gap-4">
        <app-user-experiences-list-item *ngFor="let experience of user.experiences" [experience]="experience" [userEmail]="user.email"></app-user-experiences-list-item>
      </div>
    </div>
    <div *ngIf="usersService.isAdmin() || (usersService.isLoggedIn() &&  user.email == usersService.currentUser?.email)" class="mt-2">
      <button (click)="goToExperienceCreate()" class="flex flex-row justify-center gap-2 items-center p-1 bg-primary-400 rounded text-body-reg-semibold text-gray-50 w-full hover:bg-primary-300" type="button">
        <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256">
          <!--            <rect width="256" height="256" fill="none"></rect>-->
          <line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
        </svg>
        <p>Dodaj doświadczenie</p>
      </button>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <p class="h3-custom text-gray-700">Wykształcenie:</p>
    <div class="bg-gray-100 p-4">
      <div *ngIf="user.educations.length == 0">
        <p class="text-center text-body-reg-semibold text-gray-500">Ten użytkownik nie dodał żadnego wykształcenia</p>
      </div>
      <div *ngIf="user.educations.length != 0" class="flex flex-col gap-4">
        <app-user-educations-list-item *ngFor="let education of user.educations" [education]="education" [userEmail]="user.email"></app-user-educations-list-item>
      </div>
    </div>
    <div *ngIf="usersService.isAdmin() || (usersService.isLoggedIn() &&  user.email == usersService.currentUser?.email)" class="mt-2">
      <button (click)="goToEducationCreate()" class="flex flex-row justify-center gap-2 items-center p-1 bg-primary-400 rounded text-body-reg-semibold text-gray-50 w-full hover:bg-primary-300" type="button">
        <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256">
          <!--            <rect width="256" height="256" fill="none"></rect>-->
          <line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
          <line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
        </svg>
        <p>Dodaj wykształcenie</p>
      </button>
    </div>
  </div>
</div>
