.expectation-icon *, .advantage-icon *{
  @apply stroke-gray-600;
  stroke-width: 20;
}

.edit-button * {
  @apply stroke-gray-500;
  stroke-width: 20;
}

.delete-button * {
  @apply stroke-gray-500;
  stroke-width: 19;
}

.edit-button:hover * {
  @apply stroke-amber-400;
}

.delete-button:hover * {
  @apply stroke-rose-500;
}
