
<app-header></app-header>
<!--<div class="link-reg bg-secondary-500">See more</div>-->

<!--<div class="strikethrough-reg">strikethrough-reg</div>-->
<div class="pt-16">
  <app-main-menu *ngIf="isMainMenuOpen"></app-main-menu>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>
  <br>
  <button>flseji</button>
  <br>

</div>
