@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-Hairline.ttf);
  font-weight: 100;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-HairlineItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-Thin.ttf);
  font-weight: 200;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-ThinItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-Semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-SemiboldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-Heavy.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-HeavyItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: 'Lato';
  src: url(src/assets/fonts/Lato/Lato-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}

html *{
  font-family: 'Lato', sans-serif !important;
}

.h1-custom{
  font-size: 40px;
  /*line-height: 40px;*/
  font-weight: 700;
}
.h2-custom{
  font-size: 32px;
  /*line-height: 36px;*/
  font-weight: 700;
}
.h3-custom{
  font-size: 28px;
  /*line-height: 32px;*/
  font-weight: 700;
}
.h3-5-custom{
  font-size: 24px;
  /*line-height: 28px;*/
  font-weight: 700;
}
.h4-custom{
  font-size: 20px;
  /*line-height: 24px;*/
  font-weight: 700;
}
.h5-custom{
  font-size: 16px;
  /*line-height: 20px;*/
  font-weight: 900;
}
.h5-custom-700{
  font-size: 16px;
  /*line-height: 20px;*/
  font-weight: 700;
}
.h6-custom{
  font-size: 12px;
  /*line-height: 12px;*/
  font-weight: 900;
}


.text-body-xlg{
  font-size: 24px;
  /*line-height: 28px;*/
  font-weight: 400;
}
.text-body-lg{
  font-size: 20px;
  /*line-height: 24px;*/
  font-weight: 400;
}
.text-body-reg{
  font-size: 16px;
  /*line-height: 20px;*/
  font-weight: 400;
}
.text-body-reg-bold{
  font-size: 16px;
  /*line-height: 20px;*/
  font-weight: 700;
}
.text-body-reg-semibold{
  font-size: 16px;
  /*line-height: 20px;*/
  font-weight: 600;
}
.text-body-sm{
  font-size: 12px;
  /*line-height: 16px;*/
  font-weight: 400;
}
.text-body-sm-alt{
  font-size: 12px;
  /*line-height: 16px;*/
  font-weight: 700;
}
.text-label{
  font-size: 12px;
  /*line-height: 12px;*/
  font-weight: 900;
}
.text-hint{
  font-size: 10px;
  /*line-height: 16px;*/
  font-weight: 600;
}


.link-lg{
  font-size: 20px;
  /*line-height: 24px;*/
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.link-reg {
  font-size: 16px;
  /*line-height: 20px;*/
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.link-sm{
  font-size: 12px;
  /*line-height: 16px;*/
  font-weight: 900;
}
.strikethrough-reg{
  font-size: 16px;
  /*line-height: 16px;*/
  font-weight: 900;
  text-decoration: line-through;
}
.strikethrough-sm{
  font-size: 12px;
  /*line-height: 12px;*/
  font-weight: 900;
  text-decoration: line-through;
}
.pill-reg{
  font-size: 16px;
  /*line-height: 16px;*/
  font-weight: 700;
  text-transform: uppercase;
}
.pill-sm{
  font-size: 12px;
  /*line-height: 12px;*/
  font-weight: 700;
  text-transform: uppercase;
}


input, textarea, select {
  --tw-ring-shadow: 0 0 #000 !important;
}

.validation-message {
  @apply text-red-500 text-body-reg-bold;
}

.offer-company-icon *{
  @apply stroke-gray-500;
}

.offer-localization-icon *{
  @apply stroke-gray-500;
}

.first-job-icon *{
  @apply stroke-gray-600;
  stroke-width: 25;
}

.save-button *{
  @apply stroke-gray-500;
  stroke-width: 20;
}

.save-button:hover *{
  @apply stroke-primary-500;
}

.save-button.saved *{
  @apply fill-primary-400 stroke-primary-500;
}

.save-button.saved:hover *{
  @apply fill-primary-300 stroke-primary-400;
}

.button-icon *{
  @apply stroke-gray-50;
  stroke-width: 30;
}

.delete-button * {
  @apply stroke-gray-500;
  stroke-width: 19;
}

.delete-button:hover * {
  @apply stroke-rose-500;
}

.enable-button * {
  @apply stroke-gray-500;
  stroke-width: 19;
}

.enable-button:hover * {
  @apply stroke-emerald-500;
}

.edit-button * {
  @apply stroke-gray-500;
  stroke-width: 20;
}

.edit-button:hover * {
  @apply stroke-amber-400;
}

.inner-upload-icon * {
  @apply stroke-gray-300;
  stroke-width: 20;
}

.outer-upload-icon * {
  @apply stroke-gray-700;
  stroke-width: 40;
}

.upload-image-button:hover .inner-upload-icon *{
  @apply stroke-rose-500;
}

.confirm-button *, .reject-button *{
  @apply stroke-gray-50;
  stroke-width: 25;
}

.delete-user-button *{
  @apply stroke-gray-500;
  stroke-width: 15;
}

.delete-user-button:hover *{
  @apply stroke-rose-500;
}

.caret-go-to-icon *{
  @apply stroke-secondary-500;
  stroke-width: 25;
}

.caret-go-to-icon:hover *{
  @apply stroke-secondary-400;
}

/*.drop-shadow-md-inner{*/
/*  -webkit-box-shadow:inset 0 0 3px rgb(0 0 0 / 0.07);*/
/*  -moz-box-shadow:inset 0 0 3px rgb(0 0 0 / 0.07);*/
/*  box-shadow:inset 0 0 3px rgb(0 0 0 / 0.07);*/
/*}*/
