<app-offers-filters></app-offers-filters>
<div class="w-[46rem] max-w-[90vw] mt-12 flex flex-col gap-8 mb-16 xl:mx-auto ml-64 mr-auto">
  <app-offers-search-bar></app-offers-search-bar>
  <div *ngIf="!isCompanyOffersList" class="h1-custom text-gray-600 border-b-4 border-primary-500">Opublikowane ogłoszenia</div>
  <div *ngIf="isCompanyOffersList" class="border-b-4 border-primary-500 flex flex-row justify-between items-baseline">
    <p class="h1-custom text-gray-600">Ogłoszenia firmy</p>
    <button (click)="goToAllOffers()" class="text-body-reg-semibold text-gray-50 rounded-md bg-primary-500 hover:bg-primary-400 py-0 px-2" type="button">
      Powrót do wszystkich ogłoszeń>
    </button>
  </div>
  <div class="flex flex-col gap-6">
    <div *ngFor="let offer of offers">
      <app-offers-list-item [offer]="offer"></app-offers-list-item>
    </div>
  </div>
  <app-offers-pagination></app-offers-pagination>
</div>

