<app-offers-filters (offerFiltersChanged)="onOfferFiltersChanged($event)"></app-offers-filters>
<div class="w-[750px] max-w-[90vw] mx-auto mt-12 flex flex-col gap-8">
  <app-offers-search-bar (searchStringChanged)="onSearchStringChanged($event)"></app-offers-search-bar>
  <div class="h1-custom text-gray-600 border-b-4 border-primary-500">Opublikowane ogłoszenia</div>
  <div class="flex flex-col gap-6">
    <div *ngFor="let offer of offers">
      <app-offers-list-item [offer]="offer"></app-offers-list-item>
    </div>
  </div>
</div>

